:root {
  --COLOR-GRAY: #333333;
  --COLOR-GRAY-DARK: #222222;
  --COLOR-GRAY-LIGHT: #3c5a7c;
  --COLOR-ONGOING: rgb(22, 75, 53);
  --COLOR-DONE: rgb(174, 46, 36);
  font-family: Helvetica;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}
